@import 'src/sass/layout/navigation-bar';
@import 'src/sass/layout/header';
@import 'src/sass/layout/grid';
@import 'src/sass/layout/footer';

@import 'src/sass/components/bg-video';
@import 'src/sass/components/typography';
@import 'src/sass/components/icon';
@import 'src/sass/components/arrow-down';
@import 'src/sass/components/review';
@import 'src/sass/components/button';
@import 'src/sass/components/carousel';
@import 'src/sass/components/schedule';

@import 'src/sass/abstracts/mixins';
@import 'src/sass/abstracts/variables';

@import 'src/sass/pages/home';

@import 'src/sass/base/utilities';


html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
