@import 'src/sass/abstracts/variables'; // TODO - ver como chamar globalmente este mixin

.section-menu {
  background-color: $color-grey-light-1;
  padding: 3rem 0 4rem 0;
  margin-top: -10vh;

  @include respond(tab-port) {
    padding: 5rem 0;
  }
}

.section-reviews {
  padding: 3rem 0 4rem 0;
}