.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &-icon {
    position: relative;
    top: 5px;
    left: -5px;
    font-size: 28px;
  }
}



.popup-content {
  visibility: hidden;
  background-color: $color-grey-dark;
  width: 16rem;
  color: $color-white;
  text-align: center;
  border-radius: 1px;
  position: absolute;
  padding: 10px 0;
  z-index: 60;
  bottom: -60%;
  left: 62.5%;
  font-size: 1.4rem;
  font-family: Lato;
  box-shadow: 0 1rem 2rem rgba($color-black, .35);

  &-link {
    text-decoration: none;
    color: $color-white;
  }

  /* Popup arrow */
  &:after {
    content: "";
    width: 10px;
    height: 10px;
    transform: rotate(-45deg);
    background: $color-grey-dark;
    position: absolute;
    left: calc(50% - 10px);
    border-color: $color-grey-dark transparent transparent transparent;
    border-style: solid;
    top: -12%;
    z-index: 60;
  }

  &.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}