@import 'src/sass/abstracts/variables'; // TODO - ver como chamar globalmente este mixin

.schedule {

  &__content {
    padding: 0 5rem;
  }

  &__title {
    position: relative;
  }

  &__hours {
    font-size: 1.4rem;
    font-family: Lato;
    text-transform: capitalize;

    p {
      margin-top: 0;
      margin-bottom: 0;
      text-align: left;
    }
  }

}

.address {

  &__title {
    position: relative;
    padding-top: 0.5rem;
  }

  &__details {
    font-size: 1.2rem;
    font-family: Lato;
  }

  &__link {
    text-decoration: none;
    color: $color-grey-dark;
    font-weight: bold;

    &:hover {
      color: $color-red-dark;
    }

  }

}