@import 'src/sass/abstracts/variables'; // TODO - ver como chamar globalmente este mixin

.footer {
  //background-color: $color-grey-dark;
  //padding: 10rem 0;
  //font-size: 1.4rem;
  //color: $color-grey-light-1;

  margin: 0 auto;
  padding: 25px 40px;
  color: $color-white;
  font-weight: 500;
  background: $color-grey-dark;
  box-sizing: border-box;

  @include respond(tab-port) {
    padding: 8rem 0;
  }


  &-inner {
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    position: relative;
  }

}


.info {
  display: inline-block;

  &-title {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
  }

}

.info-content {
  font-family: Lato;
}


.icon-map {
  font-size: 2.5rem;
  color: $color-white;
  margin-bottom: 2.5rem;
  background-color: transparent;
}

.social-media {
  position: absolute;
  bottom: 0;
  left: 0;
}

.fa_icon {
  padding-top: 0.6rem;
  padding-left: 0;
  text-align: center;
  color: $color-white;
  vertical-align: middle;
  margin-right: 0 !important;
  margin-left: 0 !important;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.social-icon {
  float: left;
  background: $color-red-dark;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  margin-right: 12px;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;

  &:hover {
    transform: scale(1.2);
    box-shadow: 0 1rem 2rem rgba($color-black, .35);
  }
}

.copyright {
  font-size: 16px;
  line-height: 22px;
  left: auto;
  right: 0;
  text-align: right;

  p {
    margin: 0;
  }
}

.footer__bottom {
  margin-bottom: 0;
  opacity: 0.44;
  color: $color-black;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
}

.developer {
  color: $color-black;
}