@import 'src/sass/abstracts/variables'; // TODO - ver como chamar globalmente este mixin

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 150;
  color: #fff;

  &__container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    z-index: 55;
  }

  &__in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 90px;
    padding: 0;
    border-bottom: 1px solid rgba(255,255,255,.2);
    -webkit-transition: .3s ease all;
    //transition: .3s ease all;
    transition: all ease-in-out 0.5s;
  }

  &__in>div:first-child {
    text-align: center;
  }

  &__nav {
    font-family: Belleza;
    font-size: 19px;
    letter-spacing: 3.3px;

    & ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    & li {
      display: inline-block;
      margin: 0 20px;
    }

    & a {
      text-decoration: none;
      color: currentColor;

      &:hover {
        //background-color: #61dafb;
        //font-size: 21px;
        font-weight: bolder;
      }
    }

  }

  &__lang {
    right: 40px;
    //top: 50px;
    position: absolute;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    cursor: pointer;

    & a {
      font-family: bebasneue_regular-webfont, sans-serif;
      font-size: 17px;
      letter-spacing: 3.3px;
      color: currentColor;
      text-decoration: none;
    }

    &.scroll {
      //top: 23px;
      height: 27px;
    }

    &-dropdown {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100px;
      z-index: 2;
      text-align: left;
      border: 1px solid rgba(0, 0, 0, 0.04);
      box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);

      &-ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      &-li {
        padding: 8px 12px;

        &:hover {
          background-color: rgba(0, 0, 0, 0.14);
          cursor: pointer;
        }

      }

    }

  }


}

.focus-button {
  background-color: $color-red;
  padding: 10px;
  color: $color-white !important;
}

.scroll {
  background-color: #f1f1f1;
  color: $color-grey-dark;
  border-bottom: 1px solid #ebebeb;
}




